.navbar {
  background-color: var(--white);

  .logo {
    width: 14rem;
    height: 4rem;
  }

  .nav-link {
    color: var(--green);
    font-weight: 400;

    &:focus,
    &:focus-visible {
      color: var(--offWhite);
    }

    &.active {
      color: var(--green);
      font-weight: 600;
    }
  }
}
