.navbar {
  background-color: var(--black-soft);

  .logo {
    width: 14rem;
    height: 4rem;
  }

  .nav-link {
    color: var(--white);

    &:focus,
    &:focus-visible {
      color: var(--offWhite);
    }

    &.active {
      color: var(--skyBlue-light);
      font-weight: 500;
    }
  }
}
