.NewsCard {
  h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }
  a {
    padding: 0.5rem 2rem;
    border: 0.125rem solid var(--skyBlue-light);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--skyBlue-light);

    &:hover {
      background-color: var(--skyBlue-light);
      color: var(--white);
      transition: 0.4s ease;
    }
  }
}
